body {
    padding-top: 50px;
    padding-bottom: 20px;
        background-color: #ECECEC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.navbar navbar-inverse navbar-fixed-top {
    background-color: #34495e;
}

a#Friendnotification, a#notification {
    font-size: 32px;
    height: 62px !important;
    margin-top: -3px;
    background-color: transparent;
    border-color: transparent;
}


span.badge {
    color: lightyellow !important;
    background-color: #1abc9c !important;
    margin-right: -10px !important;
    margin-bottom: 18px;
    margin-left: 3px;
}

div#searchBox {
    padding: 0px 0px 0px 0px;
    margin-top: -41px;
    margin-left: 208px;
}

div#searchBar {
    margin-top: -60px;
    margin-left: 5px !important;
}

input#inputDefault {
    width: 304px;
    height: 37px;
}

.navbar-brand > #searchButton {
    margin-top: -10px;
    border: none !important;
}


/***********************************************************/

#titleBar {
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}

h3.panel-title {
    text-align: center;
}

.panel-primary {
    margin-top: 23px;
}

.dropdown {
    margin-top: 8px;
}

.navbar {
    height: 0px;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

span#friendNotif {
    margin-left: -15px;
    font-size: 25px;
    margin-bottom: 100px;
}

img.friendPic {
    height: 70px;
    width: 70px;
    margin-left: 8px;
}

ul.dropdown-menu.scrollable-menu {
    width: 453px;
}

button#btnNotNow, button#btnAccept {
    margin-top: 19px;
    margin-right: 7px;
    border-radius: 3px;
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
}

div#test {
    float: left;
}
/**************PROFILE*****/

#profile {
    margin-top: 36px;
}

img#ownerProfilePicture {
    width: 200px;
    height: 200px;
}

#imageProfile {
    text-align: center;
}

textarea#textArea, textarea#commentArea {
    resize: none;
    width: 100%;
}

button.CommentButton {
    margin-top: 13px;
    margin-left: -18px;
}

button#post {
    margin-top: 7px;
    width: 94px;
}

div#postWell {
    height: 230px;
}

div#postContaner {
    margin-left: 19px;
    margin-top: 5px;
    margin-right: 18px;
}

input#friend, input#requested, input#addFriend {
    margin-right: 20px;
    margin-top: -11px;
}

img#previewImage {
    margin-left: 168px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}
div#profileFriendHeader {
    font-weight: bold;
    font-size: 25px;
}
div.aboutMeContent { 

        word-wrap: break-word;        
    overflow-wrap: break-word;     
        margin-top: -15px;
    text-indent: 18px;
  
}

div.commentList,p.postField {
           word-wrap: break-word;        
    overflow-wrap: break-word;     
}

a#editButton {
    font-size: 25px;
    margin-top: -75px;
    margin-left: 282px;
}
/*********NEWS FEED*************/

#newsFeed, #newsFeedPost {
    margin-top: 30px;
    width: 100%;
        background-color: white;
    border-color: #2C3D7E;
}

div.well{
        background-color: white;
    border-color: #2c3e50;    
}

img#imgOwner {
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

input#post {
    margin-top: 10px;
}

textarea#textAreaPost {
    resize: none;
}

#divImage {
    margin-left: 48px;
}

#ownerName {
    margin-left: 295px;
    margin-top: 5px;
    margin-bottom: 13px;
    font-size: 26px;
}
div#PostContainer {
    width: 86%;
}

p.postField {
        font-weight: bold;
    font-size: 20px;
    text-indent:5px;
    margin-left: 20px;
    /*border-left: 6px solid #34495e;
    background-color: #ECECEC;*/
    /*border-radius:3px;*/
    margin-top:10px;
    margin-bottom:10px;
    margin-right:15px;

}
p#commentName {
       font-weight: bold;
    margin-top: 8px;
    margin-left: 11px;
    margin-bottom: 2px;
}

div.commentList {
margin-left: 33px;
}

p#commentDate {
    font-size: 13px;
    margin-top: -3px;
    margin-left: 9px;
    margin-bottom: 4px;
}
button.likeList,button.likeButton,button.unlikeButton {
    margin-bottom: 10px;
        background-color: transparent;
    border-color: transparent;
    color: #34495e;
    font-size: 16px;
}
/*button.likeList:hover,button.likeButton:hover,button.unlikeButton:hover,button.unlikeButton:target,button.likeButton:active,button.likeButton:after {
     background-color: transparent;
    border-color: transparent;
    color: #1abc9c;
}*/
   
button.likeButton, button.unlikeButton,button.likeButton:hover,button.unlikeButton:hover {
    margin-left: -10px;
}

hr {
    border-top: 2px solid #2c3e50;
        margin-bottom: 13px;
}
a.postOwner {
    color: #34495e !important;
}
div.posterName {
    font-size: 18px;
}

div.postDate {
    font-size: 13px;
    margin-top: -6px;}
/*******Setting*******/
ul#navigationSetting {
    margin-top: 25px;
}

div#myTabContent {
    width: 70%;
}
/********FRIENDLIST*/
label.FriendList {
margin-top: 33px;
    font-size: 33px;
    margin-bottom: 10px;
}
/****Login*/

div#panelLogin {
    width: 48%;
    margin-top: 80px;
    margin-left: 299px;
    margin-bottom: 97px;
}

.panel-success > .panel-heading {
    color: white;
    background-color: #34495e;
    border-color: #34495e;
}

.panel-success {
    border-color: #34495e;
}
div#loginHeading {
    font-size: 21px;
    text-align: center;
}

div#loginForm {
    margin-left: 34px;
    margin-top: 16px;

}