
@{
    Layout = null;
    ViewBag.Title = "Error404";
}

@Styles.Render("~/Content/css")

<div class="row">
    <div class="col-md-4" id="errorLeftpane">
        <img src="~/Content/Images/Errorlogo.png" />
    </div>

    <div class="col-md-5">
        <p id="error404Header">Wooooops!</p>
        <p id="error404Info">Error 404</p>
        <p id="error404Do">Looks like this page doesn't exist.</p>
    </div>
</div>



