
@{
    Layout = null;
    ViewBag.Title = "Error";
}

@Styles.Render("~/Content/css")

<div class="row">
    <div class="col-md-4" id="errorLeftpane">
        <img src="~/Content/Images/Errorlogo.png" /></div>

    <div class="col-md-5">
        <p id="errorHeader">Ooooops!</p>
        <p id="errorInfo">Something went wrong..</p>
        <p id="errorDo">An error occured and request couldn't be completed. Please try again.</p>
    </div>
</div>

